*, *::before, *::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
head {
    display: none;
}

img{
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: inherit;
    font-size: inherit;
}

html,
body{
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: #FAFAFA;
    font-weight: 500;
    font-family: Montserrat Alternates;
    text-decoration: none;
    list-style-type: none;
    background: #fff;
    transition: background-color all 0.3s ease 0s;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
._container{
    max-width: 1440px;
    padding: 0px 15px;
    margin: 0px auto;
    box-sizing: content-box;
}
._ibg{
    position: relative;
}
._ibg img{
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
/*----ШАПКА--------------------------------------------------------------------------------------------*/
.header{
    position: absolute;
    width: 100%;

    left: 0;
    top: 0;
    z-index: 50;

}
.header__container{
    display: flex;
    min-height: 104px;
    align-items: center;
}
@media (max-width:992px) {

}
@media (max-width:479px) {
    .header__container{
        min-height: 70px;
    }
}
.header__logo{
    font-size: 24px;
    font-weight: 700;
    color: #FFFEFE;
    text-decoration: inherit;
}
.header__menu{
    margin: 0px 0px 0px 133px;
}
@media (max-width:1120px) {
    .header__menu{
        margin: 0px 0px 0px 80px;
    }
}

.menu{

}
.menu__list{
    flex-wrap: wrap;
    display: flex;
}
.menu__item{
    list-style-type: none;
}
.menu__item:not(:last-child){
    margin: 0px 21px 0px 0px;
}

.menu__link{

    line-height: 171%;
    text-decoration: none;
    font-weight: 500;
    font-size: 19px;
    color: #FFFEFE;
}
.burger-menu{
    display: none;
}
.burger-menu_button {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 30;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(51, 255, 0);
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  .burger-menu_button:hover .burger-menu_lines {
    filter: brightness(0.7);
  }
  
  .burger-menu_button:hover {
    background-color: rgba(255, 255, 255, 0.7);
  }
  
  .burger-menu_lines::before,
  .burger-menu_lines::after,
  .burger-menu_lines {
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: #ffffff;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-radius: 100px;
  }
  .burger-menu_lines::after{
    width: 30px;
  }
  .burger-menu_lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .burger-menu_lines::before {
    content: '';
    top: -12px;
  }
  .burger-menu_lines::after {
    content: '';
    top: 12px;
  }
  .burger-menu_active .burger-menu_lines {
    background-color: transparent;
  }
  .burger-menu_active .burger-menu_lines::before {
    top: 0;
    transform: rotate(45deg);
  }
  .burger-menu_active .burger-menu_lines::after{
    top: 0;
    transform: rotate(-45deg);
  }
  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #ffffff; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    padding: 15px 0;
    transition: 0.3s;
    font-weight: 600;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    margin-left: 50px;
    height: 40px;
    width: 40px;
    left: 0;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media (max-width:1120px) {
    .menu__link{
        font-size: 18px;
    }
}
@media (max-width:992px) {
    .menu__link{
        display: none;
    }
    .header__logo{
        font-size: 30px;
        font-weight: 800;
    }
    .burger-menu {
        display: block;
    }
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.menu__link:hover{
    text-decoration: underline;
}
.number__content{
    
}

._number{
    font-weight: 500;
    font-size: 20px;
    
}
/* Кнопка выпадающего списка */
.dropbtn {
    border: none;
  }
  .dropbtn::after{
    content: '↓';
  }

  
  /* Контейнер <div> - необходим для размещения выпадающего содержимого */
  .dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  /* Выпадающее содержимое (скрыто по умолчанию) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
  }
  
  /* Ссылки внутри выпадающего списка */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Изменение цвета выпадающих ссылок при наведении курсора */
  .dropdown-content a:hover {background-color: #ddd;border-radius: 10px;}
  
  /* Показать выпадающее меню при наведении курсора */
  .dropdown:hover .dropdown-content {display: block;}


  /* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
/*-------МЕНЮ------------------------------------------------------------------------------------*/
.page{
    flex: 1 1 auto;
}
.page__main-block{
    
}
.page__services{
    margin: 280px 0px 0px 0px;
    position: relative;
    z-index: 2;
}
@media (max-width:992px){
    .page__services{
        margin: 330px 0px 0px 0px;
    }
}
@media (max-width:767px){
    .page__services{
        margin: 390px 0px 0px 0px;
    }
}
@media(max-width: 382px){
    .page__services{
        margin: 370px 0px 0px 0px;
    }
}
.page__advantages{

}
.page-practice{

}
.page__whoweare{

}
.page_clients:not(:last-child){
    margin: 0px 0px 10px 0px;
}
.page-subscribe{

}
.page-getintouch{

}
.page__contact{

}
/*-------HEADER-BLOCK-----------------------------------------------------------------------------------*/

.header-block{
    text-align: center;
    letter-spacing: 0.2px;

}
.header-block__title{
    font-size: 40px;
    line-height: 142%;
    font-weight: 700;
}
.header-block__title :not(:last-child){
    margin:0px 0px 10px 0px;
}
.header-block__sub-title{
    line-height: 142%;
    color: #737373;
    
}
@media (max-width:992px){
    .header-block__title{
        font-size: 35px;
}
}
@media (max-width:767px){
    .header-block__title{
        font-size: 30px;
}
}


/*-------ПОДВАЛ------------------------------------------------------------------------------------*/
.footer{

}

/*-------MAIN-BLOCK------------------------------------------------------------------------------------*/

.main-block{
    position: relative;
}
.main-block__container{

}

.main-block__body{
    padding: 184px 0px 191px 0px;
    position: relative;
    z-index: 2;
    max-width: 400px;
}
@media (max-width:992px){
    .main-block__body{
        padding: 120px 0px 191px 0px;
        
    }
}

@media (max-width:479px){
    .main-block__body{
        padding: 115px 0px 160px 0px;
    }
    .burger-menu_button{
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 30;
        width: 60px;
        height: 60px;
        border-radius: 50%;

    }
    .burger-menu_lines::before,
    .burger-menu_lines::after,
    .burger-menu_lines {
      position: absolute;
      width: 35px;
      height: 3px;
      background-color: #ffffff;
      -webkit-transition: 0.4s;
      -moz-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;
    }
    .burger-menu_lines::after{
        width: 20px;
    }
}

.main-block__body > *:not(:last-child){
    margin: 0px 0px 35px 0px;
}

.main-block__title{
    color: #FAFAFA;
    font-size: 69px;
    line-height: 100%;
    font-weight: 600;
    letter-spacing: 0.2px;
}
@media (max-width:767px){
    .main-block__title{
        font-size: 45px;
    }
}
@media (max-width:479px){
    .main-block__title{
        font-size: 42px;
    }
}
.main-block__text{
    color: rgba(250, 250, 250, 0.90);
    font-weight: 300;
    font-size: 25px;
    line-height: 150%;
}
@media (max-width:479px){
    .main-block__text{
    }
}


.main-block__buttons{
    display:flex;
    flex-wrap: wrap;
    margin: -10px 0;
}

.main-block__button{

    border-radius: 37px;
    display: flex;
    min-height: 48px;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.2px;
    font-weight: 700;
    line-height: 150%;
    padding: 5px 36px;
    text-decoration: inherit;
    text-align: center;
    margin: 10px 0;
}

@media (max-width:479px){
    .main-block__button{
        flex: 1 1 100%;
        
    }
}

@media (min-width:479px){
.main-block__button:not(:last-child){
    margin-right: 10px;
}
}
.main-block__button_orange{
    border-radius: 100px;
    padding: 23px 35px;
    background: #F99E16;
    color: #FAFAFA;
    transition:all 0.3s ease 0s;
}
.main-block__button_orange:hover{
    background-color: #fff;
    color: #ff7b47;
}
.main-block__image{
    background: #000;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 1000px;
    

}
.main-block__image img{
    opacity: 0.6;
}

@media (max-width: 1300px){
    .main-block__image img{
        object-position:70%;
    }
}
@media (max-width: 992px){
    .main-block__image img{
        opacity: 0.5;
    }
}
@media (max-width:479px){
    .main-block__image img{
        object-position:70%;
    }
}
@media (max-width:767px){
    .main-block__body{
        text-align: center;
        margin-left:  auto;
        margin-right: auto;
    }
    .main-block__button{
        margin-left: auto;
        margin-right: auto;
        width: 250px;
    }
}
/*-------------------------------------------------------------------------------------------*/

.services{
}
.services__container{

}
.services__body{

}
.header-block__title{
    color: #2B2B2B;
    letter-spacing: 1px;
    padding: 0px 0px 57px 0px;
    font-size: 76.8px;
    font-weight: 700;
    line-height: 100%;
}
@media(max-width:992px){
    .header-block__title{
        text-align: center;
    }
}
@media(max-width: 382px){
    .header-block__title{
        font-size: 50px;
    }
}
@media (min-width:670px){
    .services__body{ 
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
    }
}
.services__column{
    flex: 0 1 33.333%;
    margin: 0px 0px 30px 0px;
}

@media (min-width:670px){
    .services__column{ 
        padding: 0px 10px;
    }
}


.services__item{
    position: relative;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    border-radius: 30px;
    width: 100%;
    height: 100%;
}
@media (max-width:668px){
    .services__item{
        position: relative;
        box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
        border-radius: 30px;
        width: 400px;
        height: 100%;
        margin: 0 auto;
    }
}
@media (max-width:430px){
    .services__item{
        position: relative;
        box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
        border-radius: 30px;
        width: 100%;
        height: 100%;
    }
}
.item-service{

}

.item-service > *:not(:last-child){
    margin: 0px 0px 10px 0px;
}
.item-service__icon{
    position: relative;
    background: #000;
    border-radius: 30px 30px 0px 0px;
}
.item-service__icon img{
    width: 100%;
    height: 100%;
    border-radius: 30px 30px 0px 0px;
    object-fit: cover;
    top: 0;
    left: 0;
    opacity: 0.75;
    transition: 0.3s;
}
.item-service__icon img:hover{
    opacity: 0.6;
}
.item-service__icon:hover .item-service__phone{
    opacity: 1;
}
.item-service__icon .item-service__phone{
    height: 70px;
    width: 70px;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 3;
    overflow: hidden;
    transition: 0.3s;
    opacity: 0;
}
@media(max-width:884px){
    .item-service__icon .item-service__phone{
        opacity: 1;
        height: 60px;
        width: 60px;
    }
}
@media(max-width:670px){
    .item-service__icon .item-service__phone{
        opacity: 0;
        height: 60px;
        width: 60px;
    }
}
.item-service__title{
    color: #000;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.1px;
    line-height: 133%;
    text-align: center;
}
.item-service__text{
    color: #737373;
    line-height: 142%;
    letter-spacing: 0.2px;
}
@media (max-width:992px){
    
}
/*-------ADVANTAGES------------------------------------------------------------------------------------*/


.advantages{
    padding: 80px 0;
}
@media (max-width:992px){
    .advantages{
        padding: 50px 0;
    }
}
@media (max-width:767px){
    .advantages{
        padding: 40px 0;
    }
}


.advantages__container{

}
.advantages__header{
    margin: 0px 0px 50px 0px;
}
@media (max-width:767px){
    .advantages__header{
        margin: 0px 0px 25px 0px;
    }
}

.advantages__body{
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px -30px;
}
.advantages__column{
    padding: 0px 15px;
    margin: 0px 0px 30px 0px;
    flex: 0 1 25%;
}
@media (max-width:1020px){
    .advantages__column{
        flex: 0 1 50%;
    }
}
@media (max-width:560px){
    .advantages__column{
        flex: 0 1 100%;
    }
}


.advantages__item{
    background-color: #fff;
    padding: 30px 40px;
    text-align: center;
    font-weight: 700;
    height: 100%;
}
.advantages__item > *:not(:last-child){
    margin: 0px 0px 10px 0px;
}
.advantages__icon{
    height: 48px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.advantages__value{
    font-size: 40px;
    line-height: 142%;
    letter-spacing: 0.2px;
}
.advantages__text{
    color: #737373;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
}